{% extends "index.html" %}

{% block body %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">task</th>
        <th scope="col">active</th>
        <th scope="col">Button</th>
      </tr>
    </thead>
    <tbody>
        {% for i in data%}
      <tr>
        <!-- <th scope="row">1</th> -->
        <td>{{i.user}}</td>
        <td>{{i.task}}</td>
        <td>{{i.is_active}}</td>
        <td>  
            <a href="update/{{i.id}}"><span class="glyphicon glyphicon-pencil" >Update</span></a>  
            <a href="delete/{{i.id}}">Delete</a>  
        </td>  
      </tr>
      <tr>
       {% endfor %}
    </tbody>
  </table>
  
  
{% endblock %}

<!-- "/edit/{{ employee.id }} -->
<!-- /delete/{{ employee.id }} -->